<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.globant.eventmanager" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--
    TODO: Used as a notification after the "glober shake"
    <uses-permission android:name="android.permission.VIBRATE"/>
    -->

    <application
        android:name=".components.EventsManagerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDliO57CRqONNUhD6uPQV9IrqB8oU2ahhI" />

        <activity
            android:name=".activities.EventsListManagerActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EventsManagerActivity"
            android:label="@string/title_activity_event_detail">
        </activity>
        <activity
            android:name=".activities.TestActivity"
            android:label="@string/title_activity_test">
        </activity>
        <activity
            android:name=".activities.MapManagerActivity"
            android:label="@string/title_activity_map"
            android:parentActivityName=".activities.EventsListManagerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.EventsListManagerActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.EventDetailManagerActivity"
            android:label="@string/title_activity_event_detail">
        </activity>
        <activity
            android:name="com.globant.eventscorelib.baseActivities.BaseCreditsActivity"
            android:label="@string/title_activity_credits"
            android:parentActivityName=".activities.EventsListManagerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.EventsListManagerActivity" />
        </activity>
        <activity
            android:name="com.globant.eventscorelib.baseActivities.BaseSubscriberActivity"
            android:label="@string/title_activity_subscriber" >
        </activity>
        <service
            android:name=".components.DataServiceManager"
            android:exported="false" />

    </application>

</manifest>
